/* Reset de margens e padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Estilo global do site */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F7F3; /* Fundo em tom pastel claro */
    color: #333; /* Cor de texto escuro */
    line-height: 1.6;
    scroll-behavior: smooth;
}

/* Container principal */
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

/* Navbar */
.navbar {
    background-image: linear-gradient(to right, #EE7674, #f277b0); /* Gradiente do verde para o rosa */
    padding: 20px 0;
}

.navbar .logo img {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.navbar .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
    text-transform: uppercase;
}

.navbar .nav-links a:hover {
    font-weight: bold;
}

.nav-links .btn {
    background-color: #84d9d0;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}


/* Exibe o botão do menu hambúrguer somente em telas pequenas */
/* Estilo global */
.navbar .menu-toggle {
    display: none; /* Esconde o menu hambúrguer por padrão */
}

/* Exibe o menu de navegação tradicional em telas grandes */
.navbar .nav-links {
    display: flex; /* Exibe os links de navegação */
    justify-content: flex-end;
    gap: 30px;
}

/* Estilo para telas pequenas */
@media (max-width: 768px) {
    /* Esconde os links de navegação em telas pequenas */
    .navbar .nav-links {
        display: none; /* Esconde o menu de navegação */
        flex-direction: column;
        align-items: center;
        background-color: #EE7674;
        position: absolute;
        top: 60px;
        left: 0;
        padding: 20px 0;
        width: 100%;
        z-index: 1;
    }

    /* Exibe o menu hambúrguer apenas em telas pequenas */
    .navbar .menu-toggle {
        display: block; /* Exibe o botão do hambúrguer */
        color: white;
        font-size: 2em;
        cursor: pointer;
        z-index: 20;
    }

    /* Quando o menu hambúrguer for clicado */
    .navbar .nav-links.active {
        display: flex; /* Exibe os links de navegação quando o menu for ativado */
        height: auto;
    }
}


.btn {
    color: #591902 !important;
}

.btn:hover {
    background-color: #EE7674;
}

/* Hero Section */
.hero {
    position: relative;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0)), url('/images/xdoces.jpeg') no-repeat center center/cover;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.hero-text {
    position: relative;
    text-align: center;
    color: #84d9d0;
    max-width: 80%;
}

.hero-text h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 15px;
    background-image: linear-gradient(to bottom, #EE7674, #f277b0);
    -webkit-background-clip: text;
    color: transparent;
}

.hero-text p {
    font-size: 1.5em;
    font-weight: 500;
    margin-bottom: 30px;
    color: #fff;
    width: 800px;
}

.hero-text .btn {
    background-color: #84d9d0;
    padding: 12px 30px;
    color: #591902;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

.hero-text .btn:hover {
    background-color: #EE7674;
    color: #fff;
}

/* Hero Image */
.hero-image {
    width: 300px;
    height: auto;
    overflow: hidden;
    position: relative;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 30px;
}

/* Seção de Serviços */
.services-section {
    text-align: center;
    padding: 50px 20px;
}

.services-section h2 {
    margin-bottom: 30px;
    font-size: 2em;
}

/* Ajustando a grid para usar o grid ao invés do flex */
.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Isso faz com que as colunas se ajustem */
    gap: 20px;
    margin: 0 auto;
}

/* Garantindo que o card de serviços tenha largura ajustável */
.service-card {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.service-card:hover {
    transform: translateY(-10px); /* Efeito de hover */
}

.service-card h3 {
    margin-bottom: 20px;
}

.service-card ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px;
}

.service-card li {
    margin-bottom: 5px;
}

.price {
    display: inline-block;
    background: #f8a5c2;
    color: #000;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 18px;
}

/* Estilos da Seção de Vídeo */
.video-section {
    text-align: center;
    padding: 50px 0;
}

.video-section h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.video-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.video-container video {
    width: 90%;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Botão de Scroll to Top */
.scroll-to-top {
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover {
    background-color: #EE7674;
    transform: scale(1.1);
}

/* Footer */
footer {
    padding: 20px 0;
    background: linear-gradient(to right, #EE7674, #f277b0); /* Gradiente do verde para o rosa */
    text-align: center;
    color: #fff;
    font-size: 0.9em;
}

footer .footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

footer .contact-info {
    font-size: 1em;
}

footer .contact-info a {
    color: #84d9d0;
    text-decoration: none;
}

footer .contact-info a:hover {
    color: #00ffe5;
}

footer .social-links {
    display: flex;
    gap: 15px;
}

footer .social-links a {
    color: #fff;
    font-size: 1.8em;
    text-decoration: none;
}

footer .social-links a:hover {
    color: #00ffe5;
}

/* Footer bottom */
footer .footer-bottom {
    margin-top: 10px;
    font-size: 0.9em;
    color: #fff;
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar .nav-links {
        flex-direction: column;
        align-items: center;
    }

    .hero-text p {
        font-size: 1.2em;
        width: auto; /* Remove a largura fixa em telas pequenas */
    }

    .price {
        font-size: 1.5em; /* Tamanho de texto maior em telas menores */
    }

    .hero-text h1 {
        font-size: 2.5em; /* Ajusta o tamanho da fonte */
    }

    .video-container video {
        width: 100%; /* Ajusta o tamanho do vídeo */
        max-width: 100%;
    }

    .services-section {
        padding: 20px 10px;
    }

    .carousel {
        width: 100%; /* Faz o carrossel ocupar toda a largura em telas pequenas */
    }

    .carousel-images img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .hero-text h1 {
        font-size: 2em; /* Tamanho de texto ainda menor para telas pequenas */
    }

    .hero-text p {
        font-size: 1.1em;
    }
}

.gallery-section {
    text-align: center;
    margin: 0 auto;
}

.gallery-section h2 {
    margin-bottom: 10px;
    font-size: 2em;
}

/* Estilos para o carrossel */
.carousel {
    display: flex;
    overflow: hidden;
    position: relative;
    width: 610px; /* Largura fixa de 610px */
    margin: 0 auto; /* Centraliza o carrossel */
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-images img {
    width: 100%; /* As imagens ocupam 100% da largura do carrossel */
    height: 300px; /* Ajuste de altura para um tamanho adequado */
    object-fit: cover; /* Garante que as imagens cubram o espaço sem distorcer */
    flex-shrink: 0; /* Impede que as imagens diminuam */
}

.carousel-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

/* Responsividade para Galeria */
@media (max-width: 768px) {
    .carousel {
        width: 90%; /* Ajusta a largura em telas pequenas */
    }

    .carousel-images img {
        height: 250px; /* Ajusta a altura das imagens */
    }
}


/* Exibe o botão do menu hambúrguer somente em telas pequenas */
.navbar .menu-toggle {
    display: none; /* Inicialmente, oculta o menu hambúrguer */
}

@media (max-width: 768px) {
    .navbar .nav-links {
        display: none; /* Oculta o menu na tela pequena */
    }

    /* Exibe o menu hambúrguer em telas pequenas */
    .navbar .menu-toggle {
        display: block;
    }

    /* Menu ativo */
    .navbar .nav-links.active {
        display: flex;
    }
}
