/* Reset de margens e padding */

:root{
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global do site */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #F9F7F3; /* Fundo em tom pastel claro */
    color: #333; /* Cor de texto escuro */
    line-height: 1.6;
}

/* Container principal para centralizar conteúdo */
.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Estilo da Navbar */
.navbar {
    background-image: linear-gradient(to right, #84d9d0, #f277b0); /* Gradiente do verde para o rosa */
    padding: 20px 0;/* Aumento do espaço entre a navegação e as outras seções */
}

.navbar .logo img {
    width: 60px;
    height: auto;
    border-radius: 50%;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
    justify-content: flex-end; /* Espaçamento à direita */
    gap: 30px; /* Aumento do espaço entre os itens de navegação */
}

.navbar .nav-links a {
    color: #591902; /* Cor de link em tom pastel */
    text-decoration: none;
    font-size: 1.1em;
    text-transform: uppercase;
}

.navbar .nav-links a:hover {
    font-style: bold;
    text-shadow: 0 0px 1px #591902;
}

/* Estilos personalizados para o botão */
.nav-links .btn {
    background-color: #84d9d0; /* Cor de fundo personalizada */
    color: white; /* Cor do texto */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
}

.nav-links .btn:hover {
    background-color: #EE7674; /* Cor ao passar o mouse */
}


/* Hero Section (Imagem à esquerda e texto à direita) */
.hero {
    position: relative;
    background-image: url('/images/xdoces.jpeg');
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-position: center; /* Garante que a imagem fique centralizada */
    height: 90vh;  /* Ajuste da altura para 85% da altura da tela */
    display: flex;
    justify-content: center; /* Centraliza a overlay horizontalmente */
    align-items: center; /* Centraliza a overlay verticalmente */
    padding: 0 5%; /* Padding lateral */
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro com opacidade */
    z-index: 1; /* Coloca o overlay acima da imagem */
    display: flex;
    justify-content: center; /* Centraliza o conteúdo */
    align-items: center; /* Centraliza o conteúdo */
    width: 100%;
    height: 100%;
}

.hero-text {
    position: relative;
    text-align: center; /* Centraliza o texto */
    color: #84d9d0; /* Cor do texto */
    max-width: 80%; /* Ajusta a largura máxima para o texto não ficar muito grande */
}

.hero-text h1 {
    font-size: 3em;
    font-weight: 700;
    margin-bottom: 15px;
    background-image: linear-gradient(to bottom, #EE7674, #84d9d0); /* Gradiente de top para bottom */
    -webkit-background-clip: text; /* Faz com que o gradiente se aplique ao texto */
    color: transparent; /* Faz o texto transparente para que o gradiente apareça */
}

.hero-text p {
    font-size: 1.2em;
    font-weight: 500;
    margin-bottom: 30px;
    color: #fff;
    width: 800px;
}

.hero-text .btn {
    background-color: #84d9d0; /* Cor pastel do botão */
    padding: 12px 30px;
    color: #591902;
    font-size: 1.1em;
    font-weight: bold;
    border-radius: 5px;
    text-transform: uppercase;
    text-decoration: none;
}

.hero-text .btn:hover {
    background-color: #EE7674; /* Hover do botão */
}


.hero-image {
    width: 300px; /* Redução da largura da imagem */
    height: auto;  /* A imagem ocupa 100% da altura do Hero */
    overflow: hidden;
    position: relative;
}

.hero-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* A imagem cobre toda a área sem distorcer */
    object-position: center; /* Garantir que a imagem esteja centralizada */
    border-radius: 30px;
}
/* Seção de Serviços (Grid 2x2) */
.services-section {
    padding: 10px 0;
    background-image: linear-gradient(to right, #84d9d0, #f277b0); /* Gradiente do verde para o rosa */    
    text-align: center;
    margin-bottom: 30px; /* Aumento do espaço entre as seções */
    height: 50vh;
}



.services-section h2 {
    font-size: 2.2em;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #5E503F;
}

/* Ajuste da grid para garantir que as colunas fiquem corretas */
.services-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* 2 colunas */
    gap: 30px; /* Espaçamento entre as colunas */
    justify-items: center; /* Alinha os itens ao centro dentro da grid */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    max-width: 1200px; /* Define uma largura máxima para garantir a centralização */
    margin: 0 auto; /* Centraliza a grid */
    margin-bottom: 40px;
}

.service-card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.8); /* Fundo semitransparente */
    background-size: cover;
    background-position: center;
    min-height: 150px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column; /* Organiza os itens verticalmente */
    justify-content: space-between; /* Coloca espaço entre o título e o parágrafo */
    color: #333; /* Cor do texto escuro */
    width: 100%;
    text-align: center; /* Alinha o texto no centro */
}

.service-card h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.service-card p {
    font-size: 1.1em;
    margin-top: auto; /* Garante que o parágrafo fique na parte inferior */
}

/* Estilo da galeria */
.gallery-section {
    padding: 30px 0;
    background-color: #F9F7F3;
    margin-bottom: 60px;
    text-align: center;
}

.gallery-section h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #5E503F;
}

/* Layout de grade (grid) */
/* Layout de grade (grid) */
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas no topo */
    grid-template-rows: repeat(2, 1fr); /* 2 linhas no fundo */
    gap: 40px; /* Espaço entre as imagens */
    max-width: 100%;
    justify-items: center; /* Centraliza as imagens horizontalmente dentro das células */
    align-items: center; /* Centraliza as imagens verticalmente dentro das células */
    margin: 0 auto; /* Centraliza o grid em relação à página */
}

/* Estilo das imagens da galeria */
.gallery-grid img {
    width: 100%;
    height: 300px; /* Ajuste a altura conforme necessário */
    width: 250px;
    object-fit: cover; /* Garante que a imagem preencha a área sem distorção */
    border-radius: 10px;
}



/* Responsividade para exibir 2 imagens no carrossel */
@media (max-width: 768px) {
    .carousel img {
        width: 48%; /* Ajusta o tamanho das imagens em telas menores */
    }
}


/* Footer */
/* Footer */
footer {
    padding: 50px 0;
    background-image: linear-gradient(to right, #84d9d0, #f277b0); /* Gradiente do verde para o rosa */    
    text-align: left; /* Alinha o conteúdo à esquerda */
}

footer h3 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #5E503F;
}

footer .footer-container {
    display: flex;
    justify-content: space-between; /* Alinha as informações de contato à esquerda e redes sociais à direita */
    align-items: flex-center;
    max-width: 1200px; /* Limita a largura do footer */
    margin: 0 auto; /* Centraliza o footer */
    padding: 0 5%;
}

footer .contact-info {
    width: 60%; /* Garantir que a seção de contato ocupe a maior parte */
}

footer .contact-info p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

footer .contact-info a {
    color: #5E503F;
    text-decoration: none;
}

footer .contact-info a:hover {
    color: #84d9d0; /* Alterando a cor ao passar o mouse */
}

footer .social-links {
    display: flex;
    align-items: center;
    gap: 20px; /* Espaçamento entre os ícones */
    justify-content: flex-end; /* Alinha os ícones à direita */
}

footer .social-links a {
    color: #5E503F;
    font-size: 1.8em;
    text-decoration: none;
}

footer .social-links a:hover {
    color: #84d9d0; /* Cor ao passar o mouse */
}

footer .social-links a i {
    transition: color 0.3s;
}

/* Responsividade */
@media (max-width: 768px) {
    footer .footer-container {
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
    }

    footer .contact-info {
        width: 100%; /* Ocupa toda a largura em telas menores */
        margin-bottom: 30px;
    }

    footer .social-links {
        justify-content: flex-start; /* Alinha as redes sociais à esquerda em telas menores */
    }
}

/* Responsividade */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        width: 100%;
        margin-bottom: 30px;
    }

    .hero-image {
        width: 100%;
    }

    .services-grid {
        grid-template-columns: 1fr; /* 1 coluna em dispositivos móveis */
    }

    .carousel {
        flex-direction: column;
    }

    .carousel img {
        max-width: 100%;
    }

    .navbar .nav-links {
        flex-direction: column;
        gap: 20px;
    }
}
